<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Travel Planner</title>
</head>
 <body>

  <div class ="headline">MY Travel Planner</div>
<section>
  <div class = "imgHolder">
    <div id="photo"></div>
  </div>

  <div class = "facts">
    <div class ="holderLocation">
      <label for="location"> My trip to:</label>
      <input type="text" id="location" placeholder=" Enter Location">
    </div>

    <div class ="holderDate">
      <label for="date">Departing:</label>
      <input type="text" id="date" placeholder=" MM/DD/YY">
    </div>

    <div class= "myButtons">
      <button id="save" type = "submit"> Go Travel ! </button>
      <button id="delete" type = "submit"> Remove Trip </button>
    </div>

    <div class ="entry">
      <div class = "title">Trip Info</div>
        <div id = "entryHolder">
        <div id = "ourLocation"></div>
        <div id = "country"></div>
        <div id = "days"></div>
      </div>
      <div class = "title">Typical weather for then is</div>
        <div id = "entryWeather">
        <div id = "temperature"></div>
        <div id = "prognosisHigh"></div>
        <div id = "prognosisLow"></div>
      </div>
    </div>
  </div>
</section>
<footer>
  Travel app By Anna Winther
</footer>
<script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script>
</body>
</html>
