body {
  background: #fffff8;
  font-family: sans-serif;
  background: url('../media/Photo.jpg') center center/cover no-repeat #333;

}

section {
  display: flex;
  align-items: center;
  height: 70vh;
  background: #7896c7cf;
  color: #eefaff;
  justify-content: space-between;
  font-size: 20px;
  font-family: sans-serif;

}

.imgHolder {
  margin-left: 10vw;
  width: auto;
  height: auto;

}

#photo img {
  width: 300px;
  height: 300px;

}

.facts {
  padding-bottom: 40px;
  padding-right: 80px;

}

.entry {
  margin-top: 20px;
  background: rgba(59, 74, 107, .4);

}

#entryHolder {
  display: flex;

}

#ourLocation {
  margin-right: 2px;

}

#country {
  margin-right: 2px;

}

#days {
  margin-right: 2px;
  margin-left: 4px;

}

#temperature {
  margin-left: 4px;

}

#prognosisHigh {
  margin-left: 4px;
  margin-top: 4px;
  margin-bottom: 10px;
  font-size: 14px;

}

#prognosisLow {
  margin-left: 4px;
  margin-top: 4px;
  margin-bottom: 10px;
  font-size: 14px;

}

.holderLocation {
  display: flex;
  margin: 15px;

}

#location {
  margin-left: 5px;

}

.holderDate {
  display: flex;
  margin: 15px;

}

#generate {
  margin-left: 30px;
  margin-bottom: 30px;

}

#entryHolder {
  margin: 8px;
  font-style: italic;
  font-size: 16px;

}

#entryWeather {
  margin: 8px;
  font-style: italic;
  font-size: 16px;

}

.headline {
  display: flex;
  justify-content: center;
  margin: 30px;
  font-size: 40px;
  color: white;
  text-align: center;
  word-spacing: 30px;
  text-shadow: 1px 1px 2px #f1f1f1;

}

.title {
  margin-left: 8px;
  color: #2d333e;

}

label {
  display:block;
  font-size: 27px;
  margin-top: 10px;
  margin-right: 10px;

}

input {
  display:block;
  height: 60px;
  width: 320px;
  background: #9bcae082;
  color: #ffffff;
  font-size: 20px;
  font-family: sans-serif;
  border: none;

}

button {
  width: 90px;
  height: 30px;
  background: #607aa0ba;
  color: #ffffff;
  font-size: 26px;
  border: none;
  margin-top: 10px;
  font-family: sans-serif;
  box-shadow: 2px 4px 5px #444;
  border-radius: 25px;

}

button:hover {
  background: #333e4eb5;

}

.myButtons {
  width: 250px;
  margin-left: 200px;

}

#save {
  font-size: 12px;
  margin-right: 20px;

}

#delete {
  font-size: 12px;

}

h1 {
  font-size: 36px;

}

footer {
  color: white;
  text-align: right;
  margin-top: 65px;

}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */
  color: #ffffff;
  font-family: sans-serif;

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ffffff;
  font-family: sans-serif;

}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #ffffff;
  font-family: sans-serif;

}

/* smaller screens */
@media (max-width: 900px) {
  section {
    height: 100vh;
    padding: 10px;
    margin: 20px;
    display: block;
    background: #7896c7cf;
    color: #eefaff;
    font-size: 20px;
    font-family: sans-serif;

  }

  .imgHolder {
    margin-left: 30vw;
    width: auto;
    height: auto;

  }

  #photo img {
    width: 200px;
    height: 200px;

  }

  label {
    display:block;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 10px;

  }

  .mybuttons {
    width: 250px;
    margin-left: 100px;

  }
}
